:root {
  --main-bg-color: rgba(240, 240, 240, 0.938);
  --my-font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--main-bg-color);
  margin: 0px;
}

#page-wrapper {
  display: grid;
}

#header-img {
  width: 300px;
  height: 35px;
}

#my-footer div {
  display: inline-block;
}

#my-footer div:nth-child(2) ion-icon {
  color: blue;
}

#my-footer div:nth-child(2) ion-icon:hover {
  box-shadow: 0px 0px 3px 3px red;
}

@media (min-width: 770px) {
  #header {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "company-logo navbar";
    width: 100%;
    position: fixed;
    background-color: rgba(240, 240, 240);
    border-bottom: 1px solid black;
  }

  li {
    list-style: none;
    margin-right: 80px;
  }

  #introduction {
    margin-top: 70px;
    text-align: center;
    width: 100%;
  }

  #benefits {
    margin: auto;
    margin-top: 100px;
  }

  .benefit-details {
    margin-top: 0px;
    font-family: var(--my-font-family);
    font-size: 17px;
    width: 95%;
  }

  .img-benefits {
    margin-top: 17px;
    width: 15%;
  }

  #pricelist {
    width: 50%;
    display: grid;
    margin: auto;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "tenor bass valve";
    grid-column-gap: 20px;
  }

  #my-footer {
    padding-top: 10px;
    margin: auto;
    margin-top: 70px;
    width: 53%;
    text-align: right;
    background-color: rgb(216, 215, 215);
  }
}

@media (max-width: 770px) {
  #header {
    width: 100%;
    padding-top: 7px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "company-logo"
      "navbar";
    position: fixed;
    background-color: rgba(240, 240, 240);
    border-bottom: 1px solid black;
  }

  li {
    list-style: none;
    margin-right: 40px;
  }

  #introduction {
    margin-top: 100px;
    text-align: center;
    width: 100%;
  }

  #benefits {
    margin: auto;
    margin-top: 100px;
    align-items: center;
  }

  .benefit-details {
    margin-top: 0px;
    font-family: var(--my-font-family);
    font-size: 17px;
    text-align: justify;
    width: 90%;
  }

  .img-benefits {
    margin-top: 35px;
    width: 15%;
  }

  #pricelist {
    width: 50%;
    display: grid;
    margin: auto;
    margin-top: 100px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "tenor"
      "bass"
      "valve";
    grid-row-gap: 20px;
  }

  #my-footer {
    padding-top: 10px;
    margin: auto;
    margin-top: 70px;
    width: 100%;
    text-align: right;
    background-color: rgb(216, 215, 215);
  }
}

@media (max-width: 1270px) {
  li {
    list-style: none;
    margin-right: 40px;
  }
}

#nav-bar {
  grid-area: navbar;
}

#logo {
  grid-area: company-logo;
}

#nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: var(--my-font-family);
}

h2 {
  font-family: var(--my-font-family);
  font-size: 23px;
}

hr {
  height: 1px;
  width: 100%;
  background-color: black;
  border: none;
}

#email {
  height: 22px;
  width: 260px;
}

#submit {
  display: block;
  margin: auto;
  margin-top: 15px;
  border: none;
  background-color: rgb(228, 180, 25);
  font-weight: bold;
  font-size: 18px;
  width: 150px;
  height: 28px;
}

#submit:hover {
  background-color: rgb(163, 127, 7);
  cursor: pointer;
}

.container-benefits {
  display: flex;
  margin-bottom: 30px;
}

.img-benefits img {
  width: 60px;
}

.content-benefits {
  width: 85%;
}

.benefit-title {
  font-size: 26px;
  font-weight: bold;
  font-family: var(--my-font-family);
  margin-bottom: 0px;
}

#container-video {
  margin: auto;
  margin-top: 50px;
}

#video {
  width: 540px;
  height: 330px;
}

.trombones-price {
  border: 1px solid black;
  text-align: center;
  border-radius: 7px;
}

#tenor-trombone {
  grid-area: tenor;
}

#bass-trombone {
  grid-area: bass;
}

#valve-trombone {
  grid-area: valve;
}

.trombones-price h3 {
  margin-top: 0px;
  font-family: var(--my-font-family);
  font-size: 15px;
  background-color: rgb(216, 215, 215);
  padding-top: 20px;
  padding-bottom: 20px;
}

.trombones-price h2 {
  font-family: var(--my-font-family);
  font-size: 25px;
}

.trombones-price p {
  font-family: var(--my-font-family);
}

.trombones-price button {
  background-color: rgb(255, 187, 0);
  border-style: none;
  padding: 12px 23px 12px 23px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.trombones-price button:hover {
  background-color: rgb(255, 145, 0);
  cursor: pointer;
}

#footer-bar {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: right;
  margin-bottom: 7px;
}

#footer-bar li {
  margin-right: 20px;
  font-family: var(--my-font-family);
  font-size: 16px;
}

#my-footer p {
  margin-top: 7px;
  margin-right: 20px;
  font-family: var(--my-font-family);
  font-size: 14px;
  color: rgb(90, 88, 88);
}
